html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
}

ul#list {
    list-style: none;
    padding: 0;
}

ul#list li {
    padding: 0.5em;
}

ul#list li+li {
    border-top: 1px solid #CCC;
}

ul#list:empty::before {
    content: "no items in the list";
    font-style: italic;
    color: gray;
}

#listControls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    gap: 0.5em;
    width: 100%;
}

#listControls input {
    width: 100%;
    padding: 1em;
}

#listControls button {
    flex: 1;
    padding: 0.5em;
}

footer {
    width: 100%;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px dotted #CCC;
    text-align: center;
}

#todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #CCC;
    padding: 0 2em;
}